import { Outlet } from "react-router-dom";

function Layout() {
  return (
    <div>
      <header>
        <nav>
          <a href="/">{{ project_name }}</a>
        </nav>
      </header>
      <main>
        <Outlet />
      </main>
    </div>
  );
}

export default Layout;
